

body main section {
    padding: 60px;
}
body main div.curriculo-box h1{
    color: #2196F3;
    font-size: 40px;
}

body main div.curriculo-box h3 {
    margin: 20px 0%;
}

body main div.curriculo-box {
    color: #ffffff;
    display: inline-block;
    padding: 25px 4%;
    margin: 25px;
    border: 3px solid #2196F3;
    border-radius: 40px;
    text-align: center;

}
body main div.curriculo-box p {
    text-align: center;
}

footer{
    padding: 10px;
    
}

@media screen and (max-width: 1024px){
    
    .logo a img {
        height: 100px;
    }
   body main section div.txt-top-site h1 {
    font-size: 25px;
   } 
}

@media screen and (max-width: 890px){

    body header nav ul li{
       padding: 0px 20px;
    }
    body main section div.flex {
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media screen and (max-width: 675px){
    body header div.interface{
        display: flex;
        flex-direction: column;
    }
    body header nav ul li{
        padding: 0px 7px;
     }
     body header div.logo img {
        height: 130px;
     }

}

@media screen and (max-width: 344px){
       
    body header nav ul li{
        padding: 0px 4px;
     
    }
}